body {
    background-color: #181818;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #202020;
    padding: 40px;
    border: 1px solid rgb(82, 82, 82);
    border-radius: 10px;
    width:380px;
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

form{
    width: 100%;

}
.input-group input {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 5px;
}


.forgot-password {
    font-size: 14px;
    color: #e2c312;
    text-decoration: none;
    padding: 1rem;
}

.forgot-password:hover {
    text-decoration: underline;
}

.btn-signin {
    width: 100%;
    padding: 12px;
    margin: 2rem 0;
    background-color: #e2c312;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.btn-signin:hover {
    
    background-color: #ffffff;
    
    color: rgb(0, 0, 0);
    transition: .5s ease-in-out;
    
}
.social-login p {
    margin-top: 20px;
    font-size: 14px;
}

.social-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.social-btn {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}

.social-btn.xbox {
    background-color: #107c10;
}

.social-btn.playstation {
    background-color: #003c8f;
}

.social-btn.nintendo {
    background-color: #e60012;
}

.social-btn.steam {
    background-color: #171a21;
}

.social-btn.facebook {
    background-color: #1877f2;
}

.social-btn.google {
    background-color: #db4437;
}

.social-btn.apple {
    background-color: #000000;
}

.social-btn.lego {
    background-color: #f0c400;
}

.footer a {
    font-size: 14px;
    color: #e2c312;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}

.footer a:hover {
    text-decoration: underline;
}




@media screen and (min-width:700px) {

.login-box {
  
    width:500px;
    border: 1px solid rgb(82, 82, 82);
   
}
}