{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRTUAL LAB</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href={% static "/css/main.css" %}>
</head>

<body>
    <header class="header" id="header">
        <nav class="max-w-full flex align-center justify-center bg-black" id="navbar-container">
            <div class=" navbar w-full px-10 flex align-center justify-space-between mx-auto" id="navbar-container">
                <div class="flex align-center">
                    <a class="logo" href="{% url 'home' %}"><img src={% static "images/site_images/main_logo.png" %}
                            alt=""></a>
                    <ul class="list flex align-center ">


                    </ul>
                </div>

                <div>
                    <div class="menu-container">
                        <div class="menu current" id="menu">
                            {% if user.is_authenticated %}
                            <ul class="list">
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'shop' %}" class="list-link current ">STORE</a>
                                </li>
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'cart' %}" class="list-link current ">CART</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'select_storage_device' %}"
                                        class="grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Select
                                        Storage Device</a>
                                </li>
                            </ul>
                            {% else %}
                            <ul class="list">
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'login' %}" class="list-link current ">LOGIN</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'register' %}"
                                        class="grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Register</a>
                                    {%endif%}
                        </div>
                    </div>

                    <div class="list-right-list">
                        <button class="btn place-item-center lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                            <i class="ri-menu-3-line open-menu-icon"></i>
                            <i class="ri-close-line close-menu-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="bg-black px-10 py-20 lg-global-padding">
        <!--  <form action="{% url 'search' %}" method="get" class="search-bar">
        <input type="text" name="q" value="{{ query }}" placeholder="Search..." class="search-input">
        <button type="submit" class="search-button">🔍</button>
    </form>  -->

        <div class="search-container">
            <form method="GET" action="{% url 'search'%}">
                <div class="search-left-container">
                    <input type="text" class="search-input" placeholder="Search..." name="searched" value="{{ query }}">
                    <button type="submit" class="search-button">
                        <img src="https://img.icons8.com/?size=100&id=132&format=png&color=FFFFFF" alt="">
                    </button>
                </div>
            </form>
            {% if user.is_authenticated %}
            <div class="search-right-container flex text-white font-semibold text-2xl">
                <h2 class="px-5"> <a href="{% url 'orders' %}">ORDERS</h2> </a>
                <h2 class="px-5"><a href="{% url 'logout' %}">LOGOUT</h2> </a>
            </div>
            {% else %}
            <div class="search-right-container flex text-white font-semibold text-2xl">
                <h2 class="px-5"> <a href="{% url 'shop' %}">STORE</h2> </a>
            </div>
            {%endif%}
        </div>
    </section>

    <section class="screen-lg-hidden">
        <div class="hero ">
            <div class="hero-main ">
                <div class="slider-wrapper flex flex-col align-center justify-center">
                    <div class="slider">
                        {%for products in featured_products%}
                        <div class="slide">
                            <div class="bg-img">
                                <div class="img-componants">
                                    <div class="logo-container">
                                        <img class="px-5 pb-5" src="{{products.logo.url}}" alt="">
                                    </div>
                                    <h1 class="text-base font-bold text-white pb-5 px-5">{{products.title}}</h1>
                                    <p class="text-xl font-bold text-white px-5">{{products.discription}}</p>
                                    <button class="screen-sm-hidden px-5 py-5">Learn More</button>
                                </div>
                                <img class="bg-dark" src="{{products.mobile_cover_image.url}}" alt="">

                            </div>
                        </div>
                        {%endfor%}

                    </div>

                    <div class="slider-controls flex justify-center align-center">
                        <div class="slider-dots"></div>

                    </div>
                </div>
            </div>
    </section>

    <section class="lg-screen-hero-section screen-sm-hidden">
        <div class="lg-screen-hero lg-global-padding px-10">
            <div class="lg-screen-wrapper">

                <div class="lg-hero-img">
                    <div class="lg-hero-img-componants px-10">
                        <div class="lg-hero-logo-container">
                            <img class="px-5 pb-5 " src="" alt="">
                        </div>
                        <h1 class="text-xl font-bold text-white pb-5 px-5"></h1>
                        <p class="text-2xl font-bold text-white px-5"></p>
                        <button class="learn-more-btn mx-5 my-5"></button>
                    </div>
                    <img class="main-img" src="" alt="">
                </div>
                <div class="slider-content">

                    {%for products in featured_products%}

                    <div class="slider-componant flex ">
                        <img class="slider-img" src="{{products.desktop_cover_image.url}}" alt="">
                        <div class="slider-logo-container hidden">
                            <img class="px-5 pb-5 hidden" src="{{products.logo.url}}" alt="">
                        </div>
                        <h1>{{products.title}}</h1>
                        <p class="text-xl font-bold text-white px-5 hidden">{{products.discription}}</p>
                        <button class="learn-more-btn mx-5 my-5 hidden">Learn More Now</button>
                    </div>
                    {%endfor%}


                </div>
            </div>
        </div>
    </section>

    <section class="bg-black lg-global-padding">
        <div class="promotions-section py-10 px-10">
            <div class="promotions-title flex align-center justify-space-between mx-auto">
                <div class="promotion-heading ">
                    <h2 class="text-white px-5 py-10 text-4xl font-bold">Promotions ></h2>
                </div>

            </div>
        </div>
        <div class="promotions-slider-wrapper px-10 pb-20">
            <div class="swiper promotions-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white ">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white ">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white ">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="bg-black">
        <div class="promotions-slider-wrapper px-20 py-60 lg-no-padding">
            <div class="swiper promotions-slider">
                <div class="swiper-wrapper hard-section-center flex">

                    <div class="swiper-slide hard-selection-slide">
                        <div class="hard-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-bold text-white text-2xl py-5">BASIC</h1>
                                <p class="text-xl font-base text-white ">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Inventore aperiam rerum possimu</p>
                                <button class="mt-5 bg-white px-20 py-3 font-bold text-xl rounded-xl">See
                                    more...</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide hard-selection-slide">
                        <div class="hard-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-bold text-white text-2xl py-5">MEDIUM</h1>
                                <p class="text-xl font-base text-white ">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Inventore aperiam rerum possimu</p>
                                <button class="mt-5 bg-white px-20 py-3 font-bold text-xl rounded-xl">See
                                    more...</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide hard-selection-slide">
                        <div class="hard-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-bold text-white text-2xl py-5">PRO</h1>
                                <p class="text-xl font-base text-white ">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Inventore aperiam rerum possimu</p>
                                <button class="mt-5 bg-white px-20 py-3 font-bold text-xl rounded-xl">See
                                    more...</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="bg-black lg-global-padding">
        <div class="promotions-section py-10 px-10">
            <div class="promotions-title flex align-center justify-space-between mx-auto">
                <div class="promotion-heading ">
                    <h2 class="text-white px-5 py-10 text-4xl font-bold">New Arrival</h2>
                </div>

            </div>
        </div>
        <div class="promotions-slider-wrapper px-10  pb-20">
            <div class="swiper promotions-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white ">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white ">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white ">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="bg-black">
        <div class="promotions-slider-wrapper px-20 py-60 lg-no-padding">
            <div class="swiper promotions-slider">
                <div class="swiper-wrapper hard-section-center flex ">
                    <div class="swiper-slide hard-selection-slide">
                        <div class="hard-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-bold text-white text-2xl py-5">BASIC</h1>
                                <p class="text-xl font-base text-white ">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Inventore aperiam rerum possimu</p>
                                <button class="mt-5 bg-white px-20 py-3 font-bold text-xl rounded-xl">See
                                    more...</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide hard-selection-slide">
                        <div class="hard-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-bold text-white text-2xl py-5">MEDIUM</h1>
                                <p class="text-xl font-base text-white ">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Inventore aperiam rerum possimu</p>
                                <button class="mt-5 bg-white px-20 py-3 font-bold text-xl rounded-xl">See
                                    more...</button>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide hard-selection-slide">
                        <div class="hard-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-bold text-white text-2xl py-5">PRO</h1>
                                <p class="text-xl font-base text-white ">Lorem ipsum dolor sit amet, consectetur
                                    adipisicing elit. Inventore aperiam rerum possimu</p>
                                <button class="mt-5 bg-white px-20 py-3 font-bold text-xl rounded-xl">See
                                    more...</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="bg-black lg-global-padding">
        <div class="promotions-section py-10 px-10">
            <div class="promotions-title flex align-center justify-space-between mx-auto">
                <div class="promotion-heading ">
                    <h2 class="text-white px-5 py-10 text-4xl font-bold">Games</h2>
                </div>

            </div>
        </div>
        <div class="promotions-slider-wrapper px-10  pb-20">
            <div class="swiper promotions-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white ">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white ">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide promotions-slide">
                        <div class="promotions-card">
                            <div class="promotion-img">
                                <img src="assets/images/66c8e40aa7ee8f6d97a39ddb_About Hero-p-1600.jpg" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-base text-white text-2xl py-5">Base Game</h1>
                                <p class="text-4xl font-bold text-white ">Fortnite - Limited Edition</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="footer">
        <div class="footer-content">
            <div class="footer-wrapper px-10 py-20">
                <div class="social-media-icons py-5 text-white">
                    <a href="#"><i class="fab fa-whatsapp social-icons-hover mr-5"></i></a>
                    <a href="#"><i class="fab fa-instagram social-icons-hover mr-5"></i></a>
                    <a href="#"><i class="fab fa-facebook social-icons-hover mr-5"></i></a>
                </div>
                <div class="footer-col-heading">
                    <h2 class="text-2xl font-bold py-1 gray">Resources</h2>
                </div>
                <div class="resources-container flex justify-left align-center pb-5">
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4>Support</h4>
                        <h4>Career</h4>
                        <h4>Company</h4>
                    </div>
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4>Support</h4>
                        <h4>Career</h4>
                        <h4>Company</h4>
                    </div>

                </div>

                <div class="footer-col-heading">
                    <h2 class="text-2xl font-bold py-1 gray">Resources</h2>
                </div>
                <div class="resources-container flex justify-left align-center pb-5">
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4>Support</h4>
                        <h4>Career</h4>
                        <h4>Company</h4>
                    </div>
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4>Support</h4>
                        <h4>Career</h4>
                        <h4>Company</h4>
                    </div>
                </div>
                <div class="rights py-5 text-lg gray">
                    <p>© 2024, Epic Games, Inc. All rights reserved. Epic, Epic Games, the Epic Games logo, Fortnite,
                        the Fortnite logo, Unreal, Unreal Engine, the Unreal Engine logo, Unreal Tournament, and the
                        Unreal Tournament logo are trademarks or registered trademarks of Epic Games, Inc. in the United
                        States of America and elsewhere.
                        Other brands or product names are the trademarks of their respective owners <br>
                        Our websites may contain links to other sites and resources provided by third parties.
                        These links are provided for your convenience only. Epic Games has no control over the
                        contents of those sites or resources, and accepts no responsibility for them or for any loss or
                        damage that may arise from your use of them.</p>
                </div>

                <div class="footer-bottom ">
                    <div
                        class="left-container text-2xl font-semibold text-white flex flex-col align-center justify-center">
                        <h5 class="">Terms</h5>
                        <h5 class="">Privacy Policies</h5>
                    </div>
                    <div class="right-container my-10 py-5">
                        <img src="assets/images/icons/photo_2024-12-06_08-58-27.png" alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>



</body>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src={% static "/js/main.js" %}></script>


</html>