{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRTUAL LAB</title>
    <link rel="icon" type="image/png" sizes="32x32" href={% static "images/site_images/main_logo.png" %}>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href={% static "/css/checkout.css" %}>
</head>

<body>
    <header class="header" id="header">
        <nav class="max-w-full flex align-center justify-center bg-black" id="navbar-container">
            <div class=" navbar w-full px-10 flex align-center justify-space-between mx-auto" id="navbar-container">
                <div class="flex align-center">
                    <a class="logo" href="{% url 'home' %}"><img src={% static "images/site_images/main_logo_white.png"
                            %} alt=""></a>
                    <ul class="list flex align-center ">


                    </ul>
                </div>

                <div>
                    <div class="menu-container">
                        <div class="menu current" id="menu">
                            {% if user.is_authenticated %}
                            <ul class="list">
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'shop' %}" class="list-link current ">STORE</a>
                                </li>
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'cart' %}" class="list-link current ">CART</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'select_storage_device' %}"
                                        class="storage-select text-center w-full grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Select
                                        Storage Device</a>
                                </li>
                            </ul>
                            {% else %}
                            <ul class="list">
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'login' %}" class="list-link current ">LOGIN</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'register' %}"
                                        class="grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Register</a>
                                    {%endif%}
                        </div>
                    </div>

                    <div class="list-right-list">
                        <button class="btn place-item-center lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                            <i class="ri-menu-3-line open-menu-icon"></i>
                            <i class="ri-close-line close-menu-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>



    <div class="checkout-page mx-auto relative" style="position: relative;">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}


            <div class="checkout px-10 py-10 ">
                <div class="section-title">
                    <h1 class="font-bold text-2xl">CHECKOUT</h1>
                </div>
                <div class="payment py-10">
                    <div class="payment-title">
                        <h1 class="text-2xl font-bold">Payment Methods</h1>
                    </div>
                    <div class="payment-options text-black text-xl">
                        <div class="options my-3">
                            <input class="px-5" type="radio" id="slip" name="payment-method">
                            <label class="px-5" for="slip">Bank transfer</label>
                        </div>
                        <div class="options my-3">
                            <input class="px-5" type="radio" id="bank-transfer" name="payment-method" disabled>
                            <label class="px-5" for="bank-transfer">Card Payment (coming soon...)</label>
                        </div>
                    </div>
                </div>

                <div class="user-details py-10" id="user-details-section" style="display: none;">
                    <div class="user-title">
                        <h1 class="text-2xl font-bold">User Details</h1>
                    </div>

                    <div class="input-group pt-5">


                        <label class="py-5 text-xl" for="first_name">First Name</label>
                        <input type="text" id="first_name" name="first_name" required>

                    </div>

                    <div class="input-group py-1">


                        <label class="text-xl" for="last_name">Last Name</label>
                        <input type="text" id="last_name" name="last_name" required>

                    </div>
                    <div class="input-group py-1">


                        <label class="text-xl" for="address">Address</label>
                        <input type="text" id="address" name="address" required>

                    </div>
                    <div class="input-group py-1">


                        <label class="py-5 text-xl" for="e_mail">Email Address</label>
                        <input type="email" id="email" name="e_mail" required>

                    </div>

                    <div class="input-group py-1">


                        <label class="text-xl" for="phone_number">Mobile</label>
                        <input type="text" id="phone_number" name="phone_number" required>

                    </div>

                </div>
            </div>

            <div class="order-summary px-10 py-10">
                <div class="order-summary-details">
                    <div class="summary-title text-black">
                        <h1 class="text-2xl font-bold">ORDER SUMMARY</h1>
                    </div>
                    <div class="orders">
                        {% for game in cart_games %}
                        <div class="order-componants my-3 p-5">
                            <h2 class="edition font-bold">{{ game.game_edition }}</h2>
                            <h1 class="text-xl font-bold py-3">{{ game.title }}</h1>
                            <h2 class="py-1 text-2xl">{{ game.size }} GB</h2>
                        </div>
                        {% endfor %}


                    </div>
                    <div class="price-content text-black py-3">
                        <h2 class="text-xl font-semibold">Total</h2>
                        <h2 class="text-xl font-semibold">Rs. {{ cart_total_value }}</h2>
                    </div>
                    <div class="hard-content text-black py-3">
                        <h2 class="text-xl font-semibold">Selected Storage Device</h2>
                        <h2 class="text-xl font-semibold">{{ checkout_cart.cart_storage_category }}
                            {{checkout_cart.cart_storage_name }} GB</h2>
                    </div>
                </div>

                <div class="slip-upload" id="slip-upload-section" style="display: none;">
                    <div class="bank-details py-5 my-10">
                        <h1 class="text-4xl font-bold py-5 px-5">Bank Details</h1>
                        <p class="text-2xl px-5">Bank - People's Bank</p>
                        <p class="text-2xl px-5">Acc No - 002 - 2001- 70073339</p>
                        <p class="text-2xl px-5">Name - G.S.D. Premerathna</p>
                    </div>

                    <div class="bank-details py-5 my-10">
                        <h1 class="text-4xl font-bold py-5 px-5">Important Notes for Bank Transfers</h1>
                        <p class="text-2xl px-5">Use any bank's mobile app or a CRM machine to complete the Total Price
                            of Rs. {{ cart_total_value }} payment to the given People's Bank account.</p>
                        <p class="text-2xl px-5">Keep the CRM machine slip or generate a receipt via the app as proof of
                            your bank transfer.</p>
                        <p class="text-2xl px-5">Upload the receipt to the designated location reserved for receipt
                            uploads.</p>
                        <p class="text-2xl px-5">Contact Us through whatsapp if you need any assist 076 994 0536</p>
                        <br>
                        <p class="text-2xl px-5">ඉහත සඳහන් කරන ලද බැංකු ගිණුමට රු. {{ cart_total_value }} මුදල ගෙවීම
                            සඳහා ඕනෑම බැංකු යෙදුමක් හෝ
                            CRM යන්ත්‍රයක් භාවිතා කරන්න.</p>
                        <p class="text-2xl px-5">ඔබේ මුදල් ගෙවීම සනාථ කිරීමට CRM යන්ත්‍රයෙන් ලබාගත් රිසිට්පත හෝ Bank App
                            එකෙන් ලබාදුන් රිසිට්පත තබා ගන්න.</p>
                        <p class="text-2xl px-5">රිසිට්පත පහත ඇති ස්ථානයට Upload කරන්න.</p>
                        <p class="text-2xl px-5">අපව සම්බන්ද කරගැනීමට 076 994 0536 අංකයට වට්සැප් පණිවිඩයක් යොමු කරන්න
                        </p>
                    </div>
                    <div class="input-group">
                        <!-- Label with custom drag/drop effect -->
                        <label for="payment_proof" class="upload-label">
                            <i class="fas fa-upload upload-icon"></i>
                            <p class="upload-text">Click or Drag to Upload Payment Slip</p>
                            <span id="file-name" class="file-name">No file chosen</span>
                        </label>
                        <!-- Hidden input field -->
                        <input type="file" id="payment_proof" name="payment_proof" style="display: none;" required
                            onchange="displayFileName(this)">
                    </div>

                </div>


                <div class="place-order-btn">

                    <button type="submit" class="text-xl font-bold">Place Order</button>
                </div>

            </div>
        </form>

    </div>

    </section>



    <section id="footer">
        <div class="footer-content">
            <div class="footer-wrapper px-10 py-20">
                <div class="social-media-icons flex  align-center py-10 text-white">
                    <div class="whatsapp mr-3">
                        <a href=""><img src={% static "images/site_images/whatsapp.png" %} alt=""></a>
                    </div>
                    <div class="facebook mx-3">
                        <a href=""><img src={% static "images/site_images/facebook.png" %} alt=""></a>
                    </div>
                    <div class="daraz mx-3 flex  align-center">
                        <a href=""><img src={% static "images/site_images/daraz.png" %} alt=""></a>
                    </div>
                </div>
                <div class="footer-col-heading">
                    <h2 class="text-2xl font-bold py-1 gray">Resources</h2>
                </div>
                <div class="resources-container flex justify-left align-center pb-5">
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4 class="py-5">Blog</h4>

                    </div>
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4 class="py-5">Support</h4>

                    </div>

                </div>


                <div class="rights py-5 text-lg gray">
                    <p>© 2024, Virtual Lab, Inc. All rights reserved. Virtual Lab, the Virtual Lab logo, and other
                        trademarks or registered trademarks are trademarks of Virtual Lab, Inc. in the United States of
                        America and elsewhere. Other brands or product names are the trademarks of their respective
                        owners.

                        Our websites may contain links to other sites and resources provided by third parties. These
                        links are provided for your convenience only. Virtual Lab has no control over the contents of
                        those sites or resources and accepts no responsibility for them or for any loss or damage that
                        may arise from your use of them.

                    </p>
                </div>

                <div class="footer-bottom ">
                    <div
                        class="left-container text-2xl font-semibold text-white flex flex-col align-center justify-center">
                        <a href="">
                            <h5 class="">Terms</h5>
                        </a>
                        <a href="">
                            <h5 class="">Privacy Policies</h5>
                        </a>
                    </div>
                    <div class="right-container my-10 py-5">
                        <img src={% static "images/site_images/main_logo_white.png" %} alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>



</body>
<script src={% static "/js/checkout.js" %}></script>



</html>