{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRTUAL LAB</title>
    <link rel="icon" type="image/png" sizes="32x32" href={% static "images/site_images/main_logo.png" %}>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href={% static "/css/product_detail.css" %}>
</head>


<body>
    <header class="header" id="header">
        <nav class="max-w-full flex align-center justify-center bg-black" id="navbar-container">
            <div class=" navbar w-full px-10 flex align-center justify-space-between mx-auto" id="navbar-container">
                <div class="flex align-center">
                    <a class="logo" href="{% url 'home' %}"><img src={% static "images/site_images/main_logo_white.png"
                            %} alt=""></a>
                    <ul class="list flex align-center ">
                    </ul>
                </div>
                <div>
                    <div class="menu-container">
                        <div class="menu current" id="menu">
                            {% if user.is_authenticated %}
                            <ul class="list">
                                <li class="list-item flex align-center py-3 font-semibold">
                                    <a href="{% url 'shop' %}" class="list-link current ">STORE</a>
                                </li>
                                <li class="list-item flex align-center  py-3 font-semibold">
                                    <a href="{% url 'cart' %}" class="list-link current ">CART</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'select_storage_device' %}"
                                        class="grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Select
                                        Storage Device</a>
                                </li>
                            </ul>
                            {% else %}
                            <ul class="list">
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'login' %}" class="list-link current ">LOGIN</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'register' %}"
                                        class="grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Register</a>
                                    {%endif%}
                        </div>
                    </div>

                    <div class="list-right-list">
                        <button class="btn place-item-center lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                            <i class="ri-menu-3-line open-menu-icon"></i>
                            <i class="ri-close-line close-menu-icon"></i>
                        </button>
                    </div>

                </div>
            </div>
        </nav>
    </header>

    <section class="bg-black px-10  lg-global-padding">
        <div class="search-container">

            <div class="search-left-container">

            </div>

            {% if user.is_authenticated %}
            <div class="search-right-container flex text-white font-semibold text-2xl">

                {%if cart%}
                <div class="hard-disk-container text-sm">
                    <div class="hard-disk-bar-background">
                        <div id="hardDiskFill" class="hard-disk-bar-fill"></div>
                    </div>
                    <p id="capacityText" class="capacity-text">
                        <span id="availableStorage">{{available_storage}}</span> GB /
                        <span id="fullStorageCapacity">{{storage_full_capacity}}</span> GB
                    </p>
                </div>
                {%endif%}
                <div class="search-nav-links">
                    <h2 class="px-5"> <a href="{% url 'orders' %}">ORDERS</h2> </a>
                    <!-- Profile Circle -->
                    <div class="profile relative flex">
                        <div class="profile-circle bg-yellow-300 text-black rounded-full w-12 h-12 flex text-center items-center justify-center cursor-pointer"
                            id="profileCircle">
                            {{ user.username|slice:":1"|capfirst }}

                        </div>

                        <!-- Dropdown (Initially Hidden) -->
                        <div class="dropdown-menu absolute right-0 top-12 mt-2 bg-white text-black shadow-lg rounded-lg w-30 hidden"
                            id="dropdownMenu">
                            <a href="{% url 'logout' %}" class="block px-4 py-2 text-lg">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="search-right-container flex text-white font-semibold text-2xl">
                <h2 class="px-5"> <a href="{% url 'shop' %}">STORE</h2> </a>
            </div>
            {%endif%}
        </div>
    </section>



    <section class="lg-global-padding bg-black">
        <div class="info-container bg-black px-10 py-10 ">
            <div class="info-wrapper text-white width-limit">
                <h1 class="font-bold text-4xl">{{game.title}}</h1>

                <div class="info-componants">
                    <div class="product-header">
                        <div class="header-top-section">
                            <div class="product-img">
                                <img class="py-5" src="{{game.big_preview_image.url}}" alt="">
                            </div>

                        </div>

                        <div class="header-bottom-section">
                            <div class="product-details py-10">
                                <div class="genre-container flex content">
                                    <div class="genre-title">
                                        <h1>Genre</h1>
                                    </div>
                                    <div class="genre-content flex">
                                        <h3 class="bg">Simulation</h2>
                                            <h3 class="bg">Action</h2>
                                    </div>
                                </div>
                                <div class="features-container flex content">
                                    <div class="features-title">
                                        <h1>Edition</h1>
                                    </div>
                                    <div class="features-content flex">
                                        <h3 class="bg">{{game.game_edition}}</h2>
                                    </div>
                                </div>
                                <div class="size flex content">
                                    <h1>Game Size:</h1>
                                    <h3>{{game.size}} GB</h2>
                                </div>
                                <div class="developer flex content">
                                    <h1>Developer</h1>
                                    <h3>{{game.developer}}</h2>
                                </div>
                                <div class="developer flex content">
                                    <h1>Publisher</h1>
                                    <h3>{{game.publisher}}</h2>
                                </div>
                                <div class="developer flex content">
                                    <h1>Release Date</h1>
                                    <h3>{{game.release_date}}</h2>
                                </div>

                                <div class="platform flex content">
                                    <h1>Platform</h1>
                                    <h3>Windows</h2>
                                </div>
                            </div>
                            <div class="game-actions">
                                {% if game in cart.cart_game.all %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="game_id" value="{{ game.id }}">
                                    <input type="hidden" name="action" value="remove">
                                    <button type="submit" class="remove-button font-bold text-2xl my-5 ">Remove</button>
                                </form>
                                {% elif not cart %}
                                <button class="disabled-button font-bold text-2xl my-5" disabled>Cart
                                    Not Selected</button>
                                {% elif game.size > available_storage %}
                                <button class="disabled-button font-bold text-2xl my-5 " disabled>Not
                                    Enough Space</button>
                                {% else %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="game_id" value="{{ game.id }}">
                                    <input type="hidden" name="action" value="add">
                                    <button type="submit" class="add-to-cart-btn font-bold text-2xl my-5">Add to
                                        Storage</button>
                                </form>
                                {% endif %}

                                <!--<button class="add-to-cart-btn font-bold text-2xl my-5 screen-sm-hidden">Add to
                                    cart</button>-->
                            </div>
                        </div>
                    </div>




                    <div class="slider-container py-10">
                        <!-- Big Image Section -->
                        <div class="big-image" id="bigImageContainer">
                            <!-- Initially displaying an image -->
                            <img id="bigImage" src="{{game.image_1.url}}" alt="Big Image">

                            <!-- Hidden div for YouTube video -->
                            <div id="bigVideoContainer" style="display:none;">
                                <iframe id="bigVideo" class="product-video" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>


                        <!-- Thumbnail Slider -->
                        <div class="swiper thumbnail-slider">
                            <div class="swiper-wrapper">
                                <!-- First Slide with Video -->
                                <div class="swiper-slide">
                                    <!-- Thumbnail of video (this can be a preview image of the video) -->
                                    <img src="{{game.image_1.url}}" alt="Video Thumbnail"
                                        onclick="updateBigVideo('{{game.video}}')">

                                    <!-- Play Button -->
                                    <div class="play-icon" onclick="updateBigVideo('{{game.video}}')">
                                        ▶️
                                    </div>
                                </div>

                                <!-- Other Slides with Images -->
                                <div class="swiper-slide">
                                    <img src="{{game.image_2.url}}" alt="Thumbnail 1"
                                        onclick="updateBigImage(this.src)">
                                </div>
                                <div class="swiper-slide">
                                    <img src="{{game.image_3.url}}" alt="Thumbnail 2"
                                        onclick="updateBigImage(this.src)">
                                </div>
                                <div class="swiper-slide">
                                    <img src="{{game.image_4.url}}" alt="Thumbnail 3"
                                        onclick="updateBigImage(this.src)">
                                </div>
                                <div class="swiper-slide">
                                    <img src="{{game.image_5.url}}" alt="Thumbnail 4"
                                        onclick="updateBigImage(this.src)">
                                </div>
                                <div class="swiper-slide">
                                    <img src="{{game.image_6.url}}" alt="Thumbnail 5"
                                        onclick="updateBigImage(this.src)">
                                </div>
                            </div>

                            <!-- Navigation Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>









                    <div class="product-description">
                        <h1 class="font-bold text-2xl py-3">{{game.title}}</h1>
                        <p class="text-xl pb-10">{{game.discription|safe}}</p>
                    </div>

                    <div class="system-req py-10">
                        <div class="system-wrapper flex p-5">
                            <div class="left-content text-xl">
                                <h1 class="font-bold">Minimum</h1>
                                <div class="system-content">
                                    <h1 class="text-gray-400 font-semibold pt-3">OS</h1>
                                    <h2 class="pb-5">{{game.minimum_os}}</h2>

                                    <h1 class="text-gray-400 font-semibold ">Processor</h1>
                                    <h2 class="pb-5">{{game.minimum_processor}}</h2>

                                    <h1 class="text-gray-400 font-semibold">Memory</h1>
                                    <h2 class="pb-5">{{game.minimum_memory}}</h2>

                                    <h1 class="text-gray-400 font-semibold">Storage</h1>
                                    <h2 class="pb-5">{{game.minimum_storage}}</h2>

                                    <h1 class="text-gray-400 font-semibold">GPU</h1>
                                    <h2 class="pb-5">{{game.minimum_graphics}}</h2>

                                    <h1 class="text-gray-400 font-semibold">Other</h1>
                                    <h2 class="pb-5">{{game.minimum_other}}</h2>
                                </div>

                            </div>
                            <div class="right-content text-xl">
                                <h1 class="font-bold">Recommended</h1>
                                <div class="system-content">
                                    <h1 class="text-gray-400 font-semibold pt-3">OS</h1>
                                    <h2 class="pb-5">{{game.maximum_os}}</h2>

                                    <h1 class="text-gray-400 font-semibold ">Processor</h1>
                                    <h2 class="pb-5">{{game.maximum_processor}}</h2>

                                    <h1 class="text-gray-400 font-semibold">Memory</h1>
                                    <h2 class="pb-5">{{game.maximum_memory}}</h2>

                                    <h1 class="text-gray-400 font-semibold">Storage</h1>
                                    <h2 class="pb-5">{{game.maximum_storage}}</h2>

                                    <h1 class="text-gray-400 font-semibold">GPU</h1>
                                    <h2 class="pb-5">{{game.maximum_graphics}}</h2>

                                    <h1 class="text-gray-400 font-semibold">Other</h1>
                                    <h2 class="pb-5">{{game.maximum_other}}</h2>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="footer">
        <div class="footer-content">
            <div class="footer-wrapper px-10 py-20">
                <div class="social-media-icons flex  align-center py-10 text-white">
                    <div class="whatsapp mr-3">
                        <a href=""><img src={% static "images/site_images/whatsapp.png" %} alt=""></a>
                    </div>
                    <div class="facebook mx-3">
                        <a href=""><img src={% static "images/site_images/facebook.png" %} alt=""></a>
                    </div>
                    <div class="daraz mx-3 flex  align-center">
                        <a href=""><img src={% static "images/site_images/daraz.png" %} alt=""></a>
                    </div>
                </div>
                <div class="footer-col-heading">
                    <h2 class="text-2xl font-bold py-1 gray">Resources</h2>
                </div>
                <div class="resources-container flex justify-left align-center pb-5">
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4 class="py-5">Blog</h4>

                    </div>
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4 class="py-5">Support</h4>

                    </div>

                </div>


                <div class="rights py-5 text-lg gray">
                    <p>© 2024, Virtual Lab, Inc. All rights reserved. Virtual Lab, the Virtual Lab logo, and other
                        trademarks or registered trademarks are trademarks of Virtual Lab, Inc. in the United States of
                        America and elsewhere. Other brands or product names are the trademarks of their respective
                        owners.

                        Our websites may contain links to other sites and resources provided by third parties. These
                        links are provided for your convenience only. Virtual Lab has no control over the contents of
                        those sites or resources and accepts no responsibility for them or for any loss or damage that
                        may arise from your use of them.

                    </p>
                </div>

                <div class="footer-bottom ">
                    <div
                        class="left-container text-2xl font-semibold text-white flex flex-col align-center justify-center">
                        <a href="">
                            <h5 class="">Terms</h5>
                        </a>
                        <a href="">
                            <h5 class="">Privacy Policies</h5>
                        </a>
                    </div>
                    <div class="right-container my-10 py-5">
                        <img src={% static "images/site_images/main_logo.png" %} alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>




</body>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src={% static "/js/product_detail.js" %}></script>


</html>