{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRTUAL LAB</title>
    <link rel="icon" type="image/png" sizes="32x32" href={% static "images/site_images/main_logo.png" %}>
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/icons/logo-black.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href={% static "/css/select_storage.css" %}>
</head>

<body>
    <header class="header" id="header">
        <nav class="max-w-full flex align-center justify-center bg-black" id="navbar-container">
            <div class=" navbar w-full px-10 flex align-center justify-space-between mx-auto" id="navbar-container">
                <div class="flex align-center">
                    <a class="logo" href="{% url 'home' %}"><img src={% static "images/site_images/main_logo_white.png"
                            %} alt=""></a>
                    <ul class="list flex align-center ">


                    </ul>
                </div>

                <div>
                    <div class="menu-container">
                        <div class="menu current" id="menu">
                            {% if user.is_authenticated %}
                            <ul class="list">
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'shop' %}" class="list-link current ">STORE</a>
                                </li>
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'cart' %}" class="list-link current ">CART</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'select_storage_device' %}"
                                        class="grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Select
                                        Storage Device</a>
                                </li>
                            </ul>
                            {% else %}
                            <ul class="list">
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'login' %}" class="list-link current ">LOGIN</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'register' %}"
                                        class="grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Register</a>
                                    {%endif%}
                        </div>
                    </div>

                    <div class="list-right-list">
                        <button class="btn place-item-center lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                            <i class="ri-menu-3-line open-menu-icon"></i>
                            <i class="ri-close-line close-menu-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>



    <section class="bg-gray-100">
        <div class="pricing-title py-20">
            <h1 class="font-bold text-4xl">Storage Device Pricing</h1>
            <p class="text-lg py-5">"Level up your gaming, no matter your budget or experience – we've got the perfect
                gaming packages for everyone. Game on with us!"</p>
        </div>

        <div class="promotions-slider-wrapper px-5 pt-10 pb-40 lg-no-padding">
            <div class="swiper-container promotions-slider max-width">
                <div class="swiper-wrapper align-center">

                    {% for device in storage_devices %}
                    <div class="swiper-slide hard-selection-slide">


                        <div class="hard-card">
                            <div class="promotion-img">
                                <img src="{{device.image.url}}" alt="">
                            </div>
                            <div class="promotion-componants">
                                <h1 class="text-base font-bold text-black text-2xl py-10">{{ device.category }}</h1>
                                <p class="text-xl pb-5">{{ device.discription }}</p>
                                {% if device.is_selected %}
                                <button type="text" name="storage_device_id" value="{{ device.id }}"
                                    class="no-cursor mt-5 bg-black px-20 py-3 font-bold rounded-xl text-white">

                                    Selected</button>

                                {% elif not device.can_accommodate %}
                                <button type="text" name="storage_device_id" value="{{ device.id }}"
                                    class="no-cursor mt-5 bg-black px-20 py-3 font-bold rounded-xl text-white">
                                    Insufficient Space</button>
                                {% else %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit" name="storage_device_id" value="{{ device.id }}"
                                        class="mt-5 bg-black px-20 py-3 font-bold rounded-xl text-white">
                                        Choose Storage Device</button>
                                    {% endif %}
                                </form>


                                <h2 class="text-2xl py-10">Rs <span
                                        class="font-bold text-6xl py-3">{{device.price}}</span>/=</h2>
                                <p class="hard-size text-xl font-bold text-black py-3">{{ device.size }} GB Capacity
                                </p>
                            </div>
                        </div>

                    </div>
                    {% endfor %}



                </div>
                <div class="swiper-button-next next"></div>
                <div class="swiper-button-prev prev"></div>
            </div>

        </div>

        </div>
    </section>



    <section id="footer">
        <div class="footer-content">
            <div class="footer-wrapper px-10 py-20">
                <div class="social-media-icons flex  align-center py-10 text-white">
                    <div class="whatsapp mr-3">
                        <a href=""><img src={% static "images/site_images/whatsapp.png" %} alt=""></a>
                    </div>
                    <div class="facebook mx-3">
                        <a href=""><img src={% static "images/site_images/facebook.png" %} alt=""></a>
                    </div>
                    <div class="daraz mx-3 flex  align-center">
                        <a href=""><img src={% static "images/site_images/daraz.png" %} alt=""></a>
                    </div>
                </div>
                <div class="footer-col-heading">
                    <h2 class="text-2xl font-bold py-1 gray">Resources</h2>
                </div>
                <div class="resources-container flex justify-left align-center pb-5">
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4 class="py-5">Blog</h4>

                    </div>
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4 class="py-5">Support</h4>

                    </div>

                </div>


                <div class="rights py-5 text-lg gray">
                    <p>© 2024, Virtual Lab, Inc. All rights reserved. Virtual Lab, the Virtual Lab logo, and other
                        trademarks or registered trademarks are trademarks of Virtual Lab, Inc. in the United States of
                        America and elsewhere. Other brands or product names are the trademarks of their respective
                        owners.

                        Our websites may contain links to other sites and resources provided by third parties. These
                        links are provided for your convenience only. Virtual Lab has no control over the contents of
                        those sites or resources and accepts no responsibility for them or for any loss or damage that
                        may arise from your use of them.

                    </p>
                </div>

                <div class="footer-bottom ">
                    <div
                        class="left-container text-2xl font-semibold text-white flex flex-col align-center justify-center">
                        <a href="">
                            <h5 class="">Terms</h5>
                        </a>
                        <a href="">
                            <h5 class="">Privacy Policies</h5>
                        </a>
                    </div>
                    <div class="right-container my-10 py-5">
                        <img src={% static "images/site_images/main_logo.png" %} alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>




</body>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src={% static "/js/select_storage.js" %}></script>


</html>