{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIRTUAL LAB</title>
    <link rel="icon" type="image/png" sizes="32x32" href={% static "images/site_images/main_logo.png" %}>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href={% static "/css/shop.css" %}>
</head>

<body>
    <header class="header" id="header">
        <nav class="max-w-full flex align-center justify-center bg-black" id="navbar-container">
            <div class=" navbar w-full px-10 flex align-center justify-space-between mx-auto" id="navbar-container">
                <div class="flex align-center">
                    <a class="logo" href="{% url 'home' %}"><img src={% static "images/site_images/main_logo_white.png"
                            %} alt=""></a>
                    <ul class="list flex align-center ">


                    </ul>
                </div>

                <div>
                    <div class="menu-container">
                        <div class="menu current" id="menu">
                            {% if user.is_authenticated %}
                            <ul class="list">
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'shop' %}" class="list-link current ">STORE</a>
                                </li>
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'cart' %}" class="list-link current ">CART</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'select_storage_device' %}"
                                        class="storage-select text-center w-full grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Select
                                        Storage Device</a>
                                </li>
                                <li class="lg-hidden py-3">
                                    <form method="GET" action="{% url 'search'%}">
                                        <div class="search-left-container">
                                            <input type="text" class="search-input " placeholder="Search..."
                                                name="searched" value="{{ query }}" required>
                                            <button type="submit" class="search-button" id="mobileSearchIcon">
                                                <img src="https://img.icons8.com/?size=100&id=132&format=png&color=FFFFFF"
                                                    alt="">
                                            </button>

                                        </div>

                                    </form>
                                </li>
                            </ul>
                            {% else %}
                            <ul class="list">
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'login' %}" class="list-link current ">LOGIN</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'register' %}"
                                        class="grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Register</a>
                                    {%endif%}
                        </div>
                    </div>

                    <div class="list-right-list">
                        <button class="btn place-item-center lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                            <i class="ri-menu-3-line open-menu-icon"></i>
                            <i class="ri-close-line close-menu-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="bg-black px-10  lg-global-padding">
        <div class="search-container width-limit">
            <form method="GET" action="{% url 'search'%}">
                <div class="search-left-container">

                    <input type="text" class="search-input screen-sm-hidden lg-screen-show" placeholder="Search..."
                        name="searched" value="{{ query }}" required>
                    <button type="submit" class="search-button screen-sm-hidden  lg-screen-show" id="mobileSearchIcon">
                        <img src="https://img.icons8.com/?size=100&id=132&format=png&color=FFFFFF" alt="">
                    </button>


                </div>

            </form>
            {% if user.is_authenticated %}
            <div class="search-right-container flex text-white font-semibold text-2xl">

                {%if cart%}
                <div class="hard-disk-container text-sm">
                    <div class="hard-disk-bar-background">
                        <div id="hardDiskFill" class="hard-disk-bar-fill"></div>
                    </div>
                    <p id="capacityText" class="capacity-text">
                        <span id="availableStorage">{{available_storage}}</span> GB /
                        <span id="fullStorageCapacity">{{storage_full_capacity}}</span> GB
                    </p>
                </div>
                {%endif%}
                <div class="search-nav-links">
                    <h2 class="px-5"> <a href="{% url 'orders' %}">ORDERS</h2> </a>
                    <!-- Profile Circle -->
                    <div class="profile relative flex">
                        <div class="profile-circle bg-yellow-300 text-black rounded-full w-12 h-12 flex text-center items-center justify-center cursor-pointer"
                            id="profileCircle">
                            {{ person.username|slice:":1"|capfirst }}

                        </div>

                        <!-- Dropdown (Initially Hidden) -->
                        <div class="dropdown-menu absolute right-0 top-12 mt-2 bg-white text-black shadow-lg rounded-lg w-28 hidden"
                            id="dropdownMenu">
                            <a href="{% url 'logout' %}" class="block px-4 py-2 text-lg">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="search-right-container flex text-white font-semibold text-2xl">
                <h2 class="px-5"> <a href="{% url 'shop' %}">STORE</h2> </a>
            </div>
            {%endif%}
        </div>
    </section>



    <section>
        <div class="products-container bg-black px-5 py-10">
            <div class="products-wrapper lg-global-padding ">
                <div class="product-heading font-bold text-white text-6xl width-limit">
                    <h1>GAMES</h1>
                </div>
                <div class="product-componants py-10  width-limit">
                    {% for game in games %}
                    <div class="product-card">
                        <div class="product-img"><a href="{% url 'product_detail' slug=game.slug %}">
                                <img src="{{game.preview_image.url}}" alt=""></a>
                            <div class="add-to-cart-btn">
                                {% if game in cart.cart_game.all %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="game_id" value="{{ game.id }}">
                                    <input type="hidden" name="action" value="remove">
                                    <button type="submit" class="clicked">✔</button>
                                </form>
                                {% elif not cart %}
                                <button class="disabled" disabled>🚫</button>
                                {% elif game.size > available_storage %}
                                <button class="disabled" disabled>🚫</button>
                                {% else %}
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="game_id" value="{{ game.id }}">
                                    <input type="hidden" name="action" value="add">
                                    <button type="submit" class="add">+</button>
                                </form>
                                {% endif %}

                            </div>
                        </div>
                        <h2 class="font-semibold py-3">{{ game.game_edition }}</h2>
                        <h1 class="font-bold text-2xl py-1">{{ game.title }} </h1>
                        <h5 class="font-semibold py-1">{{ game.size }} GB</h5>
                    </div>

                    {% endfor %}



                </div>
            </div>
        </div>
    </section>



    <section id="footer">
        <div class="footer-content">
            <div class="footer-wrapper px-10 py-20">
                <div class="social-media-icons flex  align-center py-10 text-white">
                    <div class="whatsapp mr-3">
                        <a href=""><img src={% static "images/site_images/whatsapp.png" %} alt=""></a>
                    </div>
                    <div class="facebook mx-3">
                        <a href=""><img src={% static "images/site_images/facebook.png" %} alt=""></a>
                    </div>
                    <div class="daraz mx-3 flex  align-center">
                        <a href=""><img src={% static "images/site_images/daraz.png" %} alt=""></a>
                    </div>
                </div>
                <div class="footer-col-heading">
                    <h2 class="text-2xl font-bold py-1 gray">Resources</h2>
                </div>
                <div class="resources-container flex justify-left align-center pb-5">
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4 class="py-5">Blog</h4>

                    </div>
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4 class="py-5">Support</h4>

                    </div>

                </div>


                <div class="rights py-5 text-lg gray">
                    <p>© 2024, Virtual Lab, Inc. All rights reserved. Virtual Lab, the Virtual Lab logo, and other
                        trademarks or registered trademarks are trademarks of Virtual Lab, Inc. in the United States of
                        America and elsewhere. Other brands or product names are the trademarks of their respective
                        owners.

                        Our websites may contain links to other sites and resources provided by third parties. These
                        links are provided for your convenience only. Virtual Lab has no control over the contents of
                        those sites or resources and accepts no responsibility for them or for any loss or damage that
                        may arise from your use of them.

                    </p>
                </div>

                <div class="footer-bottom ">
                    <div
                        class="left-container text-2xl font-semibold text-white flex flex-col align-center justify-center">
                        <a href="">
                            <h5 class="">Terms</h5>
                        </a>
                        <a href="">
                            <h5 class="">Privacy Policies</h5>
                        </a>
                    </div>
                    <div class="right-container my-10 py-5">
                        <img src={% static "images/site_images/main_logo.png" %} alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>




</body>
<script src={% static "/js/shop.js" %}></script>


</html>