* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}



a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

input,
button {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

.screen-sm-hidden {
    display: none;
}

/*navigation bar*/


header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: transparent;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
    background-color: black;

}

.header.scrolled {
    background-color: red;
    /* Solid color when scrolled */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional shadow */
}

.black {
    background-color: #000000;
}

.logo {

    position: relative;
}

.logo img {
    width: 35px;
    display: block;
    color: #e32433;
    position: relative;
    left: 0px;
    background-position: center;
    background-size: cover;

}

.menu {
    position: absolute;
    top: 6rem;
    right: 2rem;
    width: 90%;
    padding: 1.5rem;
    opacity: 0;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    transform: scale(0);
    transition: opacity.25s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-container {
    margin-left: auto;
    /* Pushes the menu to the right */
}

.list-item {
    display: flex;
    align-items: center;
    text-align: left;
}

.list {
    display: flex;

    gap: var(--gap);
}

.menu>.list {
    flex-direction: column;
}


.current {
    color: #e32433;

}


.list-link {
    color: rgb(255, 255, 255);
    text-decoration: none;

    font-size: 1.2rem;
    text-align: left;
}

.list-link:hover {
    color: #d3d3d3;
}

.grey-hover:hover {
    background-color: #d3d3d3;

}

.cart-hover:hover {
    color: #d3d3d3;
    cursor: pointer;

}

.close-menu-icon {
    display: none;
}

.btn {
    cursor: pointer;
}


.btn:hover,
.btn:hover span {
    color: var(--light-color);
}


i {
    font-size: 2rem;
}

/* Header JavaScript Styles */
.header.activated {
    box-shadow: 0 1px.5rem var(--transparent-light-color);

}

.menu.activated {

    opacity: 1;
    transform: scale(1);
}

.open-menu-icon {
    display: block;
    color: rgb(255, 255, 255);
}

.close-menu-icon {
    display: none;
    color: rgb(255, 255, 255);
}

.menu-toggle-icon.activated .open-menu-icon {
    display: none;
    /* Hide open icon when activated */
}

.menu-toggle-icon.activated .close-menu-icon {
    display: block;
    /* Show close icon when activated */
}

.hidden {
    opacity: 0;
}

/* Search bar container */
.search-container {
    display: flex;
    height: 130px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;

    border-radius: 15px;
    overflow: hidden;
    padding: 0 1rem 0rem 1rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input field */
.search-input {
    border: none;
    font-size: 16px;
    outline: none;
    flex: 3;
    background-color: #363636;

    border-radius: 20px;
    padding: 1rem;
    color: #fff;
    height: 100%;

}

.dropdown-menu {
    z-index: 999;
}

.search-button img {
    width: 30px;
    height: 30px;
}



/* Search button */
.search-button {
    background-color: #1d1d1d;
    color: #fff;
    border-radius: 20px;
    position: relative;
    right: 0px;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.search-left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
    border-radius: 20px;
}


/*hero section*/
.hero {
    background-color: rgb(109, 109, 109);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hero-main {
    height: 100%;
    width: 100%;

}

.bg-img {
    width: 300px;
    height: 370px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    /* Add gradient overlay */
    position: relative;
    z-index: 11;

}

.bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    position: absolute;


}

.img-componants {
    position: absolute;
    top: 30%;
    width: 80%;
    z-index: 10;
}

.logo-container {
    width: 200px;
    height: 100px;
    position: relative;
}

.img-componants img {

    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slider-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slider-controls {

    top: 60%;
    width: 100%;
    display: flex;
    transform: translateY(0%);
    z-index: 10;
}



.slider-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.slider-dots .dot {
    width: 5px;
    height: 5px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider-dots .dot.active {
    background-color: white;
}



/*promotions section*/


.promotions-slider-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}


.promotions-slider {
    display: flex;
    transition: transform 0.6s ease-in-out;
    /* Smooth transition */
    will-change: transform;
}

.swiper-wrapper {
    display: flex;
}

.promotions-slide {
    flex-shrink: 0;
    width: calc(100% / 1.5);
    height: 400px;

    box-sizing: border-box;
}

.promotions-card {
    width: 100%;
    height: 100%;

    overflow: hidden;
    background-color: #1c1c1c;
    /* Background for the card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promotion-img {
    width: 100%;
    height: 100%;
    /* Adjust height as needed */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
    /* Smooth hover effect */
    will-change: transform;
    /* Ensure proper image scaling */
}

.promotion-componants {

    text-align: left;
    background-color: #000000;
}

.promotions-slide:hover .promotion-img img {
    transform: scale(1.05);
    /* Slight zoom on hover */
}



/*hard select section*/

.promotions-slider-wrapper {
    overflow: hidden;
    width: 100%;
    position: relative;
}


.promotions-slider {
    display: flex;
    transition: transform 0.6s ease-in-out;
    /* Smooth transition */
    will-change: transform;
}

.swiper-wrapper {
    display: flex;
}

.hard-selection-slide {
    flex-shrink: 0;
    width: calc(100% / 1.5);
    height: 250px;
    box-sizing: border-box;
}

.hard-card {
    width: 100%;
    height: 100%;

    overflow: hidden;
    background-color: #1c1c1c;
    /* Background for the card */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.promotion-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: transform 0.6s ease-in-out;
    /* Smooth hover effect */
    will-change: transform;
    /* Ensure proper image scaling */
}

.promotion-componants {

    text-align: left;
    background-color: #000000;
}

.promotions-slide:hover .promotion-img img {
    transform: scale(1.05);
    /* Slight zoom on hover */
}


.add-to-cart-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 17px;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
    z-index: 1;
}

.promotions-card:hover .add-to-cart-btn {
    display: flex;
}

.add-to-cart-btn.clicked {
    background-color: red;
    color: white;
    content: "✔";
    /* Tick mark */
}





/*footer */

.gray {
    color: #aaaaaa;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.footer-wrapper {
    background-color: #2c2c2c;
}

.whatsapp,
.facebook {
    width: 30px;
    height: 30px;
}

.daraz {
    width: 50px;
    height: auto;
}

.daraz img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.rights {
    width: 100%;
}

.rights p {
    text-align: left;
    max-width: 100%;
    line-height: 1.8;
}

.right-container {
    width: 50px;
    height: 50px;
}



.right-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left-container h5 {
    text-align: center;
}







@media (min-width: 768px) {

    .menu>.list {
        flex-direction: column;
        width: 70%;
    }

    .lg-screen-hero-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        /* Dark background */
        padding: 5rem 2.5rem;
        height: auto;
    }

    .lg-screen-hero {
        display: flex;

        width: 100%;
    }

    .lg-screen-wrapper {
        display: flex;
        flex: 1;
        position: relative;
        background: transparent;
        align-items: center;
        justify-content: center;
        height: 400px;
    }



    .lg-hero-img {
        flex: 5;
        height: 100%;

        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    }

    .lg-hero-img-componants {
        position: absolute;
        top: 30%;
        width: 50%;
        z-index: 100;

    }

    .learn-more-btn {
        padding: 1rem 3rem;
        background-color: #fff;
        color: #000000;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 10px;
    }

    .lg-hero-logo-container {
        width: 300px;
        height: auto;
        background-position: left;
        background-size: cover;
        align-self: flex-start;
        position: relative;
    }

    .logo-content {
        width: 100%;
        height: 100%;
        object-fit: contain;

    }

    .main-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .slider-content {
        flex: 1;
        margin-left: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }

    .slider-componant {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        background: #1c1c1c;
        padding: 10px;
        border-radius: 8px;
        transition: all 0.3s ease;
    }

    .slider-componant:hover {
        background: #2c2c2c;
    }

    .slider-componant img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 5px;
    }

    .slider-componant h1 {
        font-size: 12px;
        color: white;
        font-weight: 500;
        margin: 0;
        white-space: nowrap;
        /* Prevents wrapping */
        overflow: hidden;
        /* Hides text overflow */
        text-overflow: ellipsis;
        /* Adds ellipsis for overflowing text */
        flex: 1;
        /* Ensures h1 takes up remaining space */
        max-width: 100px
    }

    .slider-componant.active {
        background: #444;
    }

    .promotions-slider {
        padding: 0 2.5rem;
        justify-content: center;
    }

    .promotions-slide {
        flex-shrink: 0;
        width: calc(100% / 1.5);
        height: 350px;

        box-sizing: border-box;
    }



    .hard-section-center {
        display: flex;
        justify-content: center;
    }

    .promotions-title {
        padding: 0 2.5rem;
    }


    .footer-nav {
        column-gap: 6rem;
        grid-template-rows: auto;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-columns: 1fr;
        display: grid;

    }

    .footer-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }

    .left-container {
        display: flex;
        flex-direction: row;
    }

    .left-container h5 {
        margin-right: 3rem;
    }

    .right-container {
        width: 50px;
        height: 50px;
    }


    .rights p {
        text-align: left;
        max-width: 700px;
    }


    .screen-lg-hidden {
        display: none;

    }
}








@media screen and (min-width:1000px) {

    .menu>.list {
        flex-direction: row;
        width: 100%;
    }

    .lg-screen-show {
        display: inline;
    }

    .lg-global-padding {
        padding: 0 10rem;
    }

    .lg-no-padding {
        padding-left: 0;
        padding-right: 0;
    }

    .lg-hidden {
        display: none;
    }

    .list-item {
        margin-left: 2rem;
    }

    .search-container {
        display: flex;
        height: 130px;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin: auto;

        border-radius: 15px;
        overflow: hidden;
        padding: 0 1rem 0rem 1rem;

        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Input field */
    .search-input {
        border: none;
        display: inline;
        font-size: 16px;
        outline: none;
        flex: 3;
        background-color: #363636;
        border-radius: 20px;
        padding: 1rem;
        color: #fff;
        height: 100%;

    }

    .search-button img {
        width: 30px;
        height: 30px;
    }



    /* Search button */
    .search-button {
        background-color: #1d1d1d;
        color: #fff;
        border-radius: 20px;
        position: relative;
        right: 0px;
        border: none;
        padding: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }


    .search-left-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #363636;
        border-radius: 20px;
    }

    .lg-screen-wrapper {
        display: flex;
        flex: 1;
        position: relative;
        background: transparent;
        align-items: center;
        justify-content: center;
        height: 500px;
    }



    .lg-hero-img {
        flex: 5;
        height: 100%;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
        position: relative;
    }



    .slider-content {
        flex: 1;
        margin-left: 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }

    .promotions-slide {
        flex-shrink: 0;
        width: calc(100% / 1.5);
        height: 350px;
        box-sizing: border-box;
    }

    .slider-componant {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        background: #1c1c1c;
        padding: 10px;
        border-radius: 8px;
        transition: all 0.3s ease;
    }

    .slider-componant:hover {
        background: #2c2c2c;
    }

    .slider-componant img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 5px;
    }

    .menu {
        position: initial;
        width: initial;
        padding: initial;
        opacity: initial;
        transform: initial;
        background-color: transparent;
    }



    .menu>.list {
        flex-direction: row;
        margin: auto;

    }



    .hard-selection-slide {

        height: 320px;

    }

    .footer-wrapper {
        padding: 7rem;
    }

    .social-media-icons i {
        font-size: 3rem;
        margin-right: 2rem;
    }

    .col-1 {
        margin-right: 7rem;
    }


}


@media screen and (min-width:1400px) {
    .menu>.list {
        flex-direction: row;
        width: 100%;
    }

    .width-limit {
        max-width: 1500px;
    }

    .promotions-slide {
        flex-shrink: 0;
        width: calc(100% / 1.5);
        height: 380px;
        box-sizing: border-box;
    }
}


@media screen and (min-width:2000px) {

    .hard-selection-slide {

        height: 350px;

    }
}