{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPIC GAMES</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href={% static "/css/checkout.css" %}>
</head>

<body>
    <header class="header" id="header">
        <nav class="max-w-full flex align-center justify-center bg-black" id="navbar-container">
            <div class=" navbar w-full px-10 flex align-center justify-space-between mx-auto" id="navbar-container">
                <div class="flex align-center">
                    <a class="logo" href="{% url 'home' %}"><img src={% static "images/site_images/main_logo.png" %}
                            alt=""></a>
                    <ul class="list flex align-center ">


                    </ul>
                </div>

                <div>
                    <div class="menu-container">
                        <div class="menu current" id="menu">
                            {% if user.is_authenticated %}
                            <ul class="list">
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'shop' %}" class="list-link current ">STORE</a>
                                </li>
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'cart' %}" class="list-link current ">CART</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'select_storage_device' %}"
                                        class="grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Select
                                        Storage Device</a>
                                </li>
                            </ul>
                            {% else %}
                            <ul class="list">
                                <li class="list-item flex align-center screen-sm-hidden py-3 font-semibold">
                                    <a href="{% url 'login' %}" class="list-link current ">LOGIN</a>
                                </li>
                                <li class="list-item py-3">
                                    <a href="{% url 'register' %}"
                                        class="grey-hover  px-5 py-3 bg-white text-black font-semibold rounded-2xl text-2xl">Register</a>
                                    {%endif%}
                        </div>
                    </div>

                    <div class="list-right-list">
                        <button class="btn place-item-center lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                            <i class="ri-menu-3-line open-menu-icon"></i>
                            <i class="ri-close-line close-menu-icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section class="bg-black px-10 py-20 lg-global-padding">
        <div class="search-container">
            <div class="search-left-container">
                <input type="text" class="search-input" placeholder="Search...">
                <button class="search-button">
                    <img src="https://img.icons8.com/?size=100&id=132&format=png&color=FFFFFF" alt="">
                </button>
            </div>
            {% if user.is_authenticated %}
            <div class="search-right-container flex text-white font-semibold text-2xl">
                <h2 class="px-5"> <a href="{% url 'orders' %}">ORDERS</h2> </a>
                <h2 class="px-5"><a href="{% url 'logout' %}">LOGOUT</h2> </a>
            </div>
            {% else %}
            <div class="search-right-container flex text-white font-semibold text-2xl">
                <h2 class="px-5"> <a href="{% url 'shop' %}">STORE</h2> </a>
            </div>
            {%endif%}
        </div>
    </section>

    <div class="checkout-page mx-auto relative" style="position: relative;">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}


            <div class="checkout px-10 py-10">
                <div class="section-title">
                    <h1 class="font-bold text-2xl">CHECKOUT</h1>
                </div>
                <div class="payment py-10">
                    <div class="payment-title">
                        <h1 class="text-2xl font-bold">Payment Methods</h1>
                    </div>
                    <div class="payment-options text-black text-xl">
                        <div class="options my-3">
                            <input class="px-5" type="radio" id="slip" name="payment-method">
                            <label class="px-5" for="slip">Bank transfer</label>
                        </div>
                        <div class="options my-3">
                            <input class="px-5" type="radio" id="bank-transfer" name="payment-method" disabled>
                            <label class="px-5" for="bank-transfer">Card Payment (coming soon...)</label>
                        </div>
                    </div>
                </div>

                <div class="user-details py-10">
                    <div class="user-title">
                        <h1 class="text-2xl font-bold">User Details</h1>
                    </div>

                    <div class="input-group pt-5">


                        <label class="py-5 text-xl" for="first_name">First Name</label>
                        <input type="text" id="first_name" name="first_name" required>

                    </div>

                    <div class="input-group py-1">


                        <label class="text-xl" for="last_name">Last Name</label>
                        <input type="text" id="last_name" name="last_name" required>

                    </div>
                    <div class="input-group py-1">


                        <label class="text-xl" for="address">Address</label>
                        <input type="text" id="address" name="address" required>

                    </div>
                    <div class="input-group py-1">


                        <label class="py-5 text-xl" for="e_mail">Email Address</label>
                        <input type="email" id="email" name="e_mail" required>

                    </div>

                    <div class="input-group py-1">


                        <label class="text-xl" for="phone_number">Mobile</label>
                        <input type="text" id="phone_number" name="phone_number" required>

                    </div>

                </div>
            </div>

            <div class="order-summary px-10 py-10">
                <div class="order-summary-details">
                    <div class="summary-title text-black">
                        <h1 class="text-2xl font-bold">ORDER SUMMARY</h1>
                    </div>
                    <div class="orders">
                        {% for game in cart_games %}
                        <div class="order-componants my-3 p-5">
                            <h2 class="edition font-bold">{{ game.game_edition }}</h2>
                            <h1 class="text-xl font-bold py-3">{{ game.title }}</h1>
                            <h2 class="py-1 text-2xl">{{ game.size }} GB</h2>
                        </div>
                        {% endfor %}


                    </div>
                    <div class="price-content text-black py-3">
                        <h2 class="text-xl font-semibold">Price</h2>
                        <h2 class="text-xl font-semibold">Rs. {{ checkout_cart.cart_price }}</h2>
                    </div>
                    <div class="hard-content text-black py-3">
                        <h2 class="text-xl font-semibold">Selected Storage Device</h2>
                        <h2 class="text-xl font-semibold">{{ cart.cart_storage_category }} {{ cart.cart_storage_name }}
                            GB</h2>
                    </div>
                </div>

                <div class="slip-upload">

                    <div class="input-group">
                        <!-- Label with custom drag/drop effect -->
                        <label for="payment_proof" class="upload-label">
                            <i class="fas fa-upload upload-icon"></i>
                            <p class="upload-text">Click or Drag to Upload Payment Slip</p>
                            <span id="file-name" class="file-name">No file chosen</span>
                        </label>
                        <!-- Hidden input field -->
                        <input type="file" id="payment_proof" name="payment_proof" required
                            onchange="displayFileName(this)">
                    </div>

                </div>


                <div class="place-order-btn">

                    <button type="submit" class="text-xl font-bold">Place Order</button>
                </div>

            </div>
        </form>

    </div>

    </section>


    <section id="footer">
        <div class="footer-content">
            <div class="footer-wrapper px-10 py-20">
                <div class="social-media-icons py-5 text-white">
                    <a href="#"><i class="fab fa-whatsapp social-icons-hover mr-5"></i></a>
                    <a href="#"><i class="fab fa-instagram social-icons-hover mr-5"></i></a>
                    <a href="#"><i class="fab fa-facebook social-icons-hover mr-5"></i></a>
                </div>
                <div class="footer-col-heading">
                    <h2 class="text-2xl font-bold py-1 gray">Resources</h2>
                </div>
                <div class="resources-container flex justify-left align-center pb-5">
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4>Support</h4>
                        <h4>Career</h4>
                        <h4>Company</h4>
                    </div>
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4>Support</h4>
                        <h4>Career</h4>
                        <h4>Company</h4>
                    </div>

                </div>

                <div class="footer-col-heading">
                    <h2 class="text-2xl font-bold py-1 gray">Resources</h2>
                </div>
                <div class="resources-container flex justify-left align-center pb-5">
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4>Support</h4>
                        <h4>Career</h4>
                        <h4>Company</h4>
                    </div>
                    <div class="col-1 mr-10 text-2xl font-semibold text-white">
                        <h4>Support</h4>
                        <h4>Career</h4>
                        <h4>Company</h4>
                    </div>
                </div>
                <div class="rights py-5 text-lg gray">
                    <p>© 2024, Epic Games, Inc. All rights reserved. Epic, Epic Games, the Epic Games logo, Fortnite,
                        the Fortnite logo, Unreal, Unreal Engine, the Unreal Engine logo, Unreal Tournament, and the
                        Unreal Tournament logo are trademarks or registered trademarks of Epic Games, Inc. in the United
                        States of America and elsewhere.
                        Other brands or product names are the trademarks of their respective owners <br>
                        Our websites may contain links to other sites and resources provided by third parties.
                        These links are provided for your convenience only. Epic Games has no control over the
                        contents of those sites or resources, and accepts no responsibility for them or for any loss or
                        damage that may arise from your use of them.</p>
                </div>

                <div class="footer-bottom ">
                    <div
                        class="left-container text-2xl font-semibold text-white flex flex-col align-center justify-center">
                        <h5 class="">Terms</h5>
                        <h5 class="">Privacy Policies</h5>
                    </div>
                    <div class="right-container my-10 py-5">
                        <img src="assets/images/icons/photo_2024-12-06_08-58-27.png" alt="">
                    </div>
                </div>

            </div>

        </div>
    </section>



</body>
<script src={% static "/js/checkout.js" %}></script>



</html>