{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href={% static "/css/register.css" %}>
</head>


<body>
    <div class="login-container">
        <div class="login-box">
            <img src={% static "images/site_images/main_logo.png" %} alt="Logo" class="logo">
            <h2 class="font-bold text-2xl pb-1 pt-1">Sign Up</h2>
            <form action="{% url 'register' %}" method=POST>
                {% csrf_token %}
                <div class="input-group ">
                    <label class="py-5" for="email">Email Address</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-group ">
                    <label class="py-5" for="email">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div class="input-group ">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password1" required>

                </div>
                <div class="input-group ">
                    <label for="password">Confirm Password</label>
                    <input type="password" id="password" name="password2" required>

                </div>

                <button type="submit" class="btn-signin font-bold " value="Register">Sign up</button>

            </form>
            <div class="password-requirements mb-4 flex flex-col justify-left">
                <p class="text-sm font-semibold text-left  px-5  py-3">Password Requirements:</p>
                <ul id="password-requirements" class="list-disc px-5 py-3 text-gray-600">
                    <li id="requirement-length" class="flex items-center">
                        <i class="ri-checkbox-blank-circle-line mr-2"></i> At least 8 characters
                    </li>
                    <li id="requirement-letter" class="flex items-center">
                        <i class="ri-checkbox-blank-circle-line mr-2"></i> At least one letter
                    </li>
                    <li id="requirement-number" class="flex items-center">
                        <i class="ri-checkbox-blank-circle-line mr-2"></i> At least one number
                    </li>
                </ul>
            </div>
            <div class="footer">
                <p class="py-3">Already have an account?<a href="{% url 'login' %}">Login</a></p>
            </div>
</body>
<script src={% static "/js/register.js" %}></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</div>

{% endblock %}